.episode {
  margin: $space-2 0;
  box-shadow: 0 0.5rem 1.6rem rgba($black, 0.1);
  border-radius: $space-1 / 2;
  background: $white;

  // overflow: hidden;
}

.episode__top-row {
  display: flex;
  flex-direction: row;
}

.episode__artwork-wrapper {
  padding: $space-1 0 $space-1 $space-1;
}

.episode__artwork {
  width: 12rem;
  min-width: 12rem;
  height: 12rem;
}

.episode__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $space-1 $space-3 / 2 $space-1 / 2;
  overflow: hidden;
}

.episode__title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.episode__title {
  font-size: $font-size-5;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $black;
  overflow: hidden;
}

.episode__stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: $space-1 / 2 0;
}

.episode__rating {
  display: flex;
  align-items: center;
  margin-right: $space-3 / 2;
}

.episode__pubDate-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $jet;
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.episode__pubDate-icon {
  margin-right: $space-1 / 2;
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
}

.episode__pubDate {
  font-size: $font-size-8;
  line-height: 1;
  font-weight: 600;
}

.episode__controls {
  border-top: 1px solid $grey-30;
  display: flex;
  flex-direction: row-reverse;

  align-items: center;
}

.episode__play-btn {
  @extend .btn;
  border-radius: 0;

  width: 9rem;
  height: 4.5rem;
  line-height: 1;
  padding: $space-1 / 2 $space-1;
}

.episode__play-icon {
  height: 3.5rem;
  width: 3.5rem;
  fill: $white;
}

.episode__bottom-row {
  margin-top: $space-1;
  width: 100%;
}

.episode__description {
  width: 100%;
  word-wrap: break-word;
  font-size: $font-size-7;
}

.options {
  position: relative;
  margin-right: $space-2;
}

.options__button {
  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;
  transition: 0.15s opacity;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &--open {
    opacity: 1;
    color: $dusk-60;
  }
}

.options__icon {
  height: 3rem;
  width: 3rem;
  fill: currentColor;
}

.options__label {
  font-size: $font-size-6;
  margin-left: $space-1 / 2;
}

.options__dropdown {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: $space-1;
  transform: translateY(100%);
  display: flex;
  flex-direction: column;

  border: 1px solid $grey-20;
  background: $white;
  box-shadow: 0 0.2rem 1rem rgba($black, 0.1);
}

.options__item {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid $grey-20;
  white-space: nowrap;
  padding: $space-1 $space-2 $space-1 $space-1;
  align-items: center;
  cursor: pointer;

  &:last-child {
    border: none;
  }

  transition: background 0.2s ease;

  &:hover {
    background: $grey-10;
  }
}

.options__item-icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: currentColor;
  margin-right: $space-1;

  &--inverted {
    transform: rotateX(180deg);
  }
}

.options__item-label {
  font-size: $font-size-7;
}
