.modal__header {
  position: relative;
}

.modal__title {
  font-size: 2.2rem;
  padding-right: $space-4;

  @include desktop {
    font-size: 2.5rem;
  }
}

.modal__close {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  background-image: $close-icon-svg;
}

.auth-modal {
  @include modal;
  padding: $space-3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  @include phone-large {
    width: 40rem;
  }
}

.auth-modal__overlay {
  @include overlay($modal-overlay-background);
}

.auth-modal .modal__header {
  margin-bottom: $space-3;
}
