/*
  Queue styles
*/

.queue {
}

.queue__button {
  width: 4.5rem;
  height: 4.5rem;
  transition: all 0.3s ease;
}

.queue__icon {
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.5;
  fill: $black;

  &:hover {
    opacity: 1;
  }
}

.queue__popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 50rem;
  max-height: calc(100vh - 12rem);
  width: 48rem;
  bottom: 9rem;
  right: $space-4;

  background: $white;
  box-shadow: 0 0 0.5rem rgba($black, 0.3);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  pointer-events: none;

  transition-property: transform, opacity;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.66, -0.41, 1, 1);

  transform: translateY(10rem);
  opacity: 0;

  z-index: 10;

  &--visible {
    transform: translateY(0);
    opacity: 1;

    pointer-events: auto;

    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0, 0, 0, 1.2);
  }
}

.queue__panel {
  display: flex;
  padding: $space-1 $space-2;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  cursor: pointer;

  border-bottom: 1px solid $grey-30;
}

.queue__title {
  font-size: $font-size-6;
}

.queue__close {
  width: 2.5rem;
  height: 2.5rem;
  transition: all 0.3s ease;
}

.queue__list {
  overflow: hidden scroll;
}

/*
  Queue episode styles
*/

.queue-episode {
  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;

  padding: $space-1 $space-2;

  transition: background 0.2s ease;

  &:hover {
    background: $grey-20;
  }

  &:hover .queue-episode__play-btn {
    display: block;
  }
}

.queue-episode__artwork-wrapper {
  position: relative;
  width: 4.5rem;
  height: 4.5rem;
  flex-shrink: 0;
}

.queue-episode__artwork {
  background-size: cover;
  box-shadow: rgba($black, 0.1) 0 0 0 1px inset;
  height: 100%;
  width: 100%;
}

.queue-episode__play-btn {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;

  width: 3rem;
  height: 3rem;

  padding: $space-1 / 2;

  border-radius: 50%;
  background: $dusk-50;

  transition: background 0.2s ease;

  &:hover {
    background: $dusk-70;
  }
}

.queue-episode__play-icon {
  fill: $white;
}

.queue-episode__details {
  margin-left: $space-1;
  flex: 0 1 auto;
  overflow: hidden;
}

.queue-episode__title {
  font-size: $font-size-7;
  margin-bottom: 0.2rem;
}

.queue-episode__podcast-name {
  font-size: $font-size-8;
  color: $grey-80;
}

.queue-episode__title,
.queue-episode__podcast-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.queue-episode__actions {
}

.queue-episode__favourite {
}

.queue-episode__icon {
}
