* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

.app {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.content {
  width: 100%;
  overflow-y: scroll;
}

.container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}

body {
  font: $body-default-font;
  letter-spacing: 0.05rem;
}

ul {
  list-style: none;
}

button {
  border: 0;
  outline: 0;
  background: none;
}

button:disabled {
  opacity: 0.3;
}

a {
  text-decoration: none;
}

// https://bulbenergy.github.io/bulb-audit/patterns/general/focus-styles/

a, button, input, textarea /* etc */ {
  outline: 0.125em solid transparent;
  outline-offset: 0.5em;
}

:focus {
  outline-color: currentColor;
  outline-offset: 0.125em;
  transition: all 0.25s ease-out;
}

:hover:focus {
  outline: none;
}
